/* fonts */

/* great-vibes-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/great-vibes-regular.woff2');
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/poppins-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/poppins-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
::after,
::before {
  box-sizing: border-box;
}

*::first-letter {
  text-transform: capitalize;
}


html {
  font-size: 100%;
}

/*16px*/

:root {
  /* colors */

  --primary-title: #BE9A67;
  --primary-btn: #BE9A67;
  --primary-text: #a5a5a5;
  --grey: #ccc;
  --grey-500: #829ab1;
  --grey-600: #9fb3c8;
  --grey-700: #bcccdc;
  --grey-800: #d9e2ec;
  --grey-900: #f0f4f8;


  /* --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a; */

  /* --grey-50: #102a43;
  --grey-100: #243b53;
  --grey-200: #334e68;
  --grey-300: #486581;
  --grey-400: #627d98;
  --grey-500: #829ab1;
  --grey-600: #9fb3c8;
  --grey-700: #bcccdc;
  --grey-800: #d9e2ec;
  --grey-900: #f0f4f8; */
  /* rest of the colors */
  --black: #2d2d2d;
  --black-2: #111111;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Great Vibes', Sans-Serif;
  --bodyFont: 'Poppins', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  /* --textColor: var(--grey-900); */
  --textColor: var(--primary-text);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 3.5rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 400;
}

h3,
h4,
h5 {
  font-family: var(--bodyFont);
  color: var(--grey);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}


h5 {
  font-size: 0.875rem;
  font-weight: 500;
}


small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

a,
button {
  line-height: 1.15;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */

.btn {
  font-family: var(--bodyFont);
  /* font-weight: 700; */
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  color: var(--white);
  background: var(--black);
  border: transparent;
  border-radius: var(--borderRadius);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  /* text-transform: uppercase; */
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-btn);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-btn);
  background: transparent;
  border: 1px solid var(--primary-btn)
}

.btn-hipster:hover {
  color: var(--white);
  background: var(--primary-btn);
}

.btn-block {
  width: 100%;
}

.btn-hero {
  padding: 0.5rem 1.25rem;
}

.btn-danger {
  background: var(--red-dark);
  color: var(--white);
}

.btn-danger:hover {
  background: var(--red-light);
  color: var(--red-dark);
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}

/* .form:hover {
  box-shadow: var(--shadow-4);
} */

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--white);
  border: 1px solid var(--grey);
}

.form-input,
.form-select,
.btn-block {
  height: 35px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
}

/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-text);
  animation: spinner 2s linear infinite;
}

.loading-center {
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-text);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.full-page {
  min-height: 100vh;
}

.Toastify{
  text-align: center;
}